@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="d-flex justify-content-center mt-4">
        <a href="/Producto/Index" class="btn btn-primary btn-lg mx-2">
            Ir a Productos
        </a>
        <a href="/Categoria/Index" class="btn btn-secondary btn-lg mx-2">
            Ir a Categorías
        </a>
    </div>
</div>
